<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @user[0] %>
      <h1>Thank you for your order, <%= @user[0].first_name %>!</h1>
    <% else %>
      <h1>Thank you for your order!</h1>
    <% end %>
    <p>
      You'll receive word once your order is in transit.
    </p>
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @line_items.each do |item| %>
            <tr>
              <td><%= item.product.name %></td>
              <td><%= humanized_money_with_symbol (item[:item_price_cents] * 0.01) %></td>
              <td><%= item[:quantity] %></td>
              <td><%= humanized_money_with_symbol (item[:total_price_cents] * 0.01) %></td>
            </tr>
          <% end %>
        </tbody>
        <br>
        <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              <%= humanized_money_with_symbol (@order.total_cents.to_i * 0.01) %>
            </th>
          </tr>
        </tfoot>
      </table>

    <p>
      To keep shopping, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>