<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order, <%= @user[0].first_name %>!</h1>
    <p>
      You'll receive word once your order is in transit.
    </p>
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @line_items.each do |item| %>
            <tr>
              <td><%= item.product.name %></td>
              <td><%= number_with_precision(item[:item_price_cents].to_i / 100, precision: 2) %></td>
              <td><%= item[:quantity] %></td>
              <td><%= number_with_precision(item[:total_price_cents].to_i / 100, precision: 2) %></td>
            </tr>
          <% end %>
        </tbody>
        <br>
        <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              $<%= number_with_precision(@order.total_cents.to_i / 100, precision: 2) %>
            </th>
          </tr>
        </tfoot>
      </table>

    <p>
      To keep shopping, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>