<h1>Admin Dashboard</h1>

<h3>Number of Products: <%= @product_count.length %></h3>
<ul class="list-group list-group-flush">
<% @product_count.each do |product| %>
  <li class="list-group-item">
    <a href="/products/<%= product.id %>"><%= product.name %> </a>
  </li>
<% end %>
</ul>

<h3>Number of Caterogies: <%= @category_count.length %></h3>
<ul class="list-group list-group-flush">
<% @category_count.each do |category| %>
  <li class="list-group-item">
    <a href="/categories/<%= category.id %>"><%= category.name %> </a>
  </li>
<% end %>
</ul
