<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
  <% if active_sale? %>
    <% get_sale_info %>
    <span class='sale-price'>$<%= product.price %></span>
    $<%= product.price * (1.00 - (@sale_discount * 0.01)) %>
  <% else %>
    $<%= product.price %>
  <% end %>
  </td>
  <td>
    <%= quantity %>
  </td>
  <td>
  <% if active_sale? %>
    <% get_sale_info %>
    <span class='sale-price'>$<%= product.price * quantity %></span>
    $<%= (product.price * (1.00 - (@sale_discount * 0.01))) * quantity %>
  <% else %>
    $<%= product.price * quantity %>
  <% end %>
  </td>
</tr>
