<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <h3>Product Info</h3>
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <% if active_sale? %>
            <% get_sale_info %>
            <dd class='sale-price'><span>$<%= @product.price %></span></dd>
            <dd>$<%= @product.price * (1.00 - (@sale_discount * 0.01)) %></dd>
          <% else %>
            <dd>$<%= @product.price %></dd>
          <% end %>
        </dl>

        <div class="dl-horizontal">
          <h3>Reviews</h3>

          <% if @user %>
            <%= form_for :products, url: "/products/#{@product.id}/reviews" do |f| %>
              Review this Item: <%= f.text_area :description, class: 'form-control', required: 'required' %>
              <br>
              Rating: <%= f.select :rating, options_for_select([1, 2, 3, 4, 5]), class: 'form-control', required: 'required' %> / 5
              <br><br>

              <%= submit_tag "Submit Review", class: 'btn btn-md btn-primary btn-block' %>
            <% end %>
            <br>
          <% end %>
          <table class='table'>
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <dt>User</dt>
                <dd><%= review[:user][0].first_name %> <%= review[:user][0].last_name %></dd>
                <dt>Review</dt>
                <dd><%= review[:description] %></dd>
                <dt>Product Rating</dt>
                <dd><%= review[:rating] %> / 5</dd>
                <dt>Date Reviewed</dt>
                <dd><%= review[:created_at] %></dd>
                <% if @user && @user == review[:user][0].id %>
                  <br>
                  <dt>Delete Review</dt>
                  <dd><%= link_to fa_icon('trash'), "/products/#{@product.id}/reviews/#{review[:id]}", method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" } %></dd>
                <% end %>
              </td>
            </tr>
          <% end %>
          </table>
        </div>
      </div>

    </div>

  </article>

</section>
